/* title */

.contact-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  margin-top: 57px;
  margin-bottom: 15px;
}

/* page's text */

.contact {
  display: flex;
  justify-content: space-between;
}

.contactUs-text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1e0606;
  width: 380px;
  display: flex;
  margin-top: 2px;
  margin-bottom: 20px;
}

.help-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  text-transform: uppercase;
  color: #c29974;
  width: 380px;
}

.contact-form {
  display: flex;
}

.contact-form-window {
  width: 680px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 42px;
  padding-top: 24px;
  margin: auto;
  background-color: #e5eaf8;
  margin-bottom: 60px;
}

.contact-text {
  display: flex;
  flex-direction: column;
}

.contact {
  display: flex;
}

.checkbox-margin {
  margin-right: 15px;
}

/*checkbox */

.checkbox-indicator {
  padding-right: 32px;
  position: relative;
}

.checkbox-indicator::before {
  content: "";
  width: 19px;
  height: 19px;
  border: 2px solid #c29974;
  box-sizing: border-box;
  border-radius: 3px;
  display: block;
  left: 0px;
  left: -3px;
  top: -4px;
  position: absolute;
}

.form-input:checked ~ .checkbox-indicator::after {
  content: "";
  background-image: url(/static//images/checked.svg);
  position: absolute;
  width: 14.23px;
  height: 14.64px;
  margin-left: 0px;
  margin-top: -1px;
}

.form-input:checked ~ .filter-item-text,
.form-input:hover ~ .filter-item-text,
.form-input:focus ~ .filter-item-text {
  text-decoration-line: underline;
}
